Repository movester/mymovester-api, pull requests merged in 2024-06, with the labels that each got.

#62 bugfix: 백오피스 스트레칭 조회시 스트레칭 누락
  apps/mymovester-api/src/stretching/stretching.service.ts
  libs/persistence/src/domain/stretching/repository/stretching.repository.ts
Labels: 🔙 Backoffice, 🫅 Product, 🐞 BugFix, 📬 API

#64 회원 저장시 프로필 이미지 저장
  apps/mymovester-api/src/auth/auth.service.ts
  apps/mymovester-api/src/auth/kakao.service.ts
  apps/mymovester-api/src/user/user.service.ts
Labels: 🫅 Product, 🏝 Improvement, 📬 API

#63 스트레칭 복제하기
  apps/mymovester-api/src/routine/routine.controller.ts
  apps/mymovester-api/src/routine/routine.interface.ts
  apps/mymovester-api/src/routine/routine.service.ts
  libs/persistence/src/domain/routine/repository/routine-item.repository.ts
Labels: 🫅 Product, ✨ Feature, 📬 API

#65 회원가입시 저장하도록 수정
  apps/mymovester-api/src/auth/auth.service.ts
  apps/mymovester-api/src/auth/response/login.response.ts
  libs/persistence/src/domain/user/repository/user.repository.ts
Labels: 🫅 Product, 🏝 Improvement, 📬 API
